/* home.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Set a background color for the body */
}


.hero-section {
    background-image: url('path/to/your/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
}

.hero-content p {
    font-size: 1.2em;
    color: #fff;
}

/* Other sections */
.section {
    padding: 50px 0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2em;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5em;
    }

    .hero-content p {
        font-size: 1em;
    }

    .section {
        padding: 30px 0;
    }

    .section h2 {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    .section p {
        font-size: 1em;
    }
}
/* Contact section styles */
.contact-section {
    background-color: #fff;
    /* Background color for contact section */
    padding: 50px 20px;
    text-align: center;
}

.contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    /* Contact section heading color */
}

.contact-section p {
    font-size: 1.2em;
    color: #555;
    /* Contact section text color */
}


.about-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
}

.about-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2em;
}